*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Digital-7';
    src: url('./fonts/digital-7-4.ttf');
    font-weight: normal;
    font-style: normal
}
body {
    background: url(./asstes/bg.jpg) no-repeat center center scroll;
    background-size: cover;
}
.page_header {
    border-bottom: 1px solid #26293a;
    height: 50px;
    overflow: hidden;
    white-space: nowrap;

}
.header_content{
    margin: 0px 10px;
    width: 1024px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.content_title{
    color: white;
}
.h_c_logo{
    font-size: 20px;
    color: white;
}
.h_c_tabs{
    font-size: 13px;
    font-weight: 500;
    overflow: hidden;
    color: white;
}
.h_c_tabs span:nth-child(2n+2){
    color: gray;
    height: 10px;
    margin: 0 5px;
    overflow: hidden;

}
.h_c_tabs span:nth-child(2n+1){
    display: inline-block;
    height: 50px;
    line-height: 50px;
}
.h_c_tabs span:nth-child(2n+1):hover{
    border-bottom: 3px solid white;
    height: 47px;
    cursor: pointer;
}
.content_banner{
    display: flex;
    justify-content: space-between;
}
.c_t{
    padding: 25px 0px;
    width: 52%;
    font-size: 25px;
    font-weight: 540;
    letter-spacing: 5px;
    margin: 0 auto;
    text-align: center;
}
.c_b_content{
    width: 1024px;
    margin: 20px auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.c_b_img_big{
    width: 89%;
    /* overflow: hidden; */
    position: relative;
    height: 110px;
    float: right;
}
.c_b_img{
    overflow: hidden;
    display:flex;
    position: absolute;
    width: 950px;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
}
.c_b_img div:nth-child(2n+1){
    width: 100px;
    height: 110px;
    display: inline-block;
}
.work_class_point{
    line-height: 30px;
    text-align: center;
    display: inline-block;
    height: 10px;
    width: 20px;
    padding: 0px 10px;
}
.c_b_out{
    overflow: hidden;
    width: 96%;
}
.c_b_number{
    font-family: 'Digital-7';
    font-size: 28px;
    color: #1ffeff;
    width: 15%;
    text-align: center;
    overflow: hidden;
    font-weight: bolder;
    letter-spacing: 7px;
}
.content_dataMap{
    position: relative;
    width: 1024px;
    margin: 60px auto;

}
.c_d_content{
    width: 1024px;
    margin: 0px auto;
    height: 650px;
    position: relative;
    background:url(./asstes/10.png) no-repeat center;
    background-size: 850px;

}
.c_d_content>div:nth-child(-n + 4){
    display: inline-block;
    width: 12%;
    height: 23%;
    z-index: 99;
}
.c_d_top{
    position: absolute;
    top: -45px;
    left: 49.5%;
    transform: translate(-50%, 0%); 
}
.c_d_left{
    position: absolute;
    top: 39%;
    left: 40px;
    transform: translate(0%, -50%); 
}
.c_d_right{
    position: absolute;
    top: 40%;
    right: 5%;
    transform: translate(0%, -50%); 
}
.c_d_bottom{
    position: absolute;
    bottom: 100px;
    left: 49.5%;
    transform: translate(-50%, 0%); 
}
.c_d_woman{
    position: absolute;
    top: 14.5%;
    left: 19%;
    display: inline-block;
    width: 9%;
    height: 30%;
}
.c_d_man{
    position: absolute;
    top: 29%;
    left: 71%;
    display: inline-block;
    width: 9%;
    height: 30%;
}
.c_d_gd1{
    display: inline-block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 46%;
    top: 10.5%;
     /* 动画名称 动画时长 延时时间 匀速 无限循环 逆播 */ 
     animation:myfirst1 15s 0s linear  infinite alternate;
}
@keyframes myfirst1 {
    0% {
        transform: translate(0px,0px);
    }
    10% {
        transform: translate(-240px,155px);
    }
     13% {
        transform: translate(-200px,170px); 
    }
    17% {
        transform: translate(-300px,230px);
    }
     20% {
        transform: translate(-335px,215px);
    }
     28% {
        transform: translate(-365px,235px);
    }
    35% {
        transform: translate(-365px,235px);
    }
    50% {
        transform: translate(45px,455px);
    }
    55% {
        transform: translate(45px,455px);
    }
    60% {
        transform: translate(280px,305px);
    }
    63% {
        transform: translate(255px,290px);
    }
    70% {
        transform: translate(380px,200px);
    }
    80% {
        transform: translate(0px,0px);
    }
}
.c_d_gd2{
    display: inline-block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 46%;
    top: 10.5%;
     /* 动画名称 动画时长 延时时间 匀速 无限循环 逆播 */ 
     animation:myfirst2 13s 2s linear  infinite;
}
@keyframes myfirst2 {
    0% {
        transform: translate(0px,0px);
    }
    3% {
        transform: translate(-35px,22px);
    }
    6% {
        transform: translate(-3px,37px);
    }
    20% {
        transform: translate(-135px,125px);
    }
    30% {
        transform: translate(10px,200px);
    }
    40% {
        transform: translate(140px,115px);
    }
    50% {
        transform: translate(350px,220px);
    }
    60% {
        transform: translate(380px,200px);
    }
    85% {
        transform: translate(0px,0px);
    }
    100% {
        transform: translate(0px,0px);
    }
}
.c_d_gd3{
    display: inline-block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 46%;
    top: 10.5%;
     /* 动画名称 动画时长 延时时间 匀速 无限循环 逆播 */ 
     animation:myfirst3 10s 4s linear  infinite alternate;
}
@keyframes myfirst3 {
    0% {
        transform: translate(0px,0px);
    }
    3% {
        transform: translate(-35px,22px);
    }
    6% {
        transform: translate(-3px,37px);
    }
    10% {
        transform: translate(-135px,125px);
    }
    20% {
        transform: translate(10px,200px);
    }
    30% {
        transform: translate(-162px,310px);
    }
    40% {
        transform: translate(-335px,215px);
    }
    43% {
        transform: translate(-365px,235px);
    }
    50% {
        transform: translate(45px,455px);
    }
    60% {
        transform: translate(280px,305px);
    }
    65% {
        transform: translate(255px,290px);
    }
    70% {
        transform: translate(380px,200px);
    }
    90% {
        transform: translate(380px,200px);
    }
    100% {
        transform: translate(0px,0px);
    }
}
.c_d_api{
    width: 1024px;
    margin: 0 auto;
    min-height: 220px;
    
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    color: white;
}
.content_dataMap>div:nth-child(-n+4){
    display: inline-block;
    position: absolute
}
.c_d_point1{
    height: 180px;
    width: 20px;
    position: absolute;
    top: 55%;
    left: 9%;
    text-align: center;
}
.c_d_point2{
    height: 60px;
    width: 20px;
    position: absolute;
    top: 69%;
    left: 29%;
}
.c_d_point3{
    height: 60px;
    width: 20px;
    position: absolute;
    top: 69%;
    left: 68.8%;
}
.c_d_point4{
    height: 180px;
    width: 20px;
    position: absolute;
    top: 55%;
    left: 88.5%;
}
.c_d_api>div{
    width: 204.8px;
    text-align: center;

}
.c_d_api>div>div{
    text-align: center;
    padding: 3px 0px;
}
.c_d_a_img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.bottom_content{
    margin: 0 auto;
    width: 1024px;
    display: flex;
    justify-content: space-between;
    font-size: 5px;
    padding: 10px;
}
.b_c_icp{
    width: 15%;
    text-align: right;
}
.b_c_bq{
    width: 60%;
    text-align: center;
}
.b_c_icp:hover{
    color: blue;
    cursor: pointer;
}
.c_d_a_title{
    /* margin-bottom: -10px; */
}
.c_d_a_latestBlock{
    margin-bottom: -10px;
    font-size: 12px;
    /* white-space: nowrap; */
}
.c_d_a_totalNumber{
    /* white-space: nowrap; */
    font-size: 12px;
}
.page_bottom {
    border-top:1px solid #344d98;
    padding: 10px;
    margin-top: 20px;
    color: white;
}
.c_d_textborder{
    display: inline-block;
    color: white;
    height: 40px;
    margin: 0 10px;
    font-size: 12px;
    background-color: #0b4cb4;
    border-radius: 20px;
    padding: 0 10px;
    /* background: url(./asstes/4.png) no-repeat center; */
    position: absolute;
    white-space: nowrap;

}
.textborder1{
    top: 25%;
    left: 48.5%;
    transform: translate(-50%, -50%);    /* 50%为自身尺寸的一半 */
}
.textborder2{
    top: 59%;
    left: 8.8%;
    transform: translate(-50%, -50%);    /* 50%为自身尺寸的一半 */
}
.textborder3{
    top: 61%;
    left: 88%;
    transform: translate(-50%, -50%);    /* 50%为自身尺寸的一半 */
}
.textborder4{
    top: 93%;
    left: 48.5%;
    transform: translate(-50%, -50%);    /* 50%为自身尺寸的一半 */
}
.s_j::after{
    content: '';
    border: 6px solid white;
    content: '';
    border: 6px dashed #0b4cb4;
    border-right: 6px solid rgba(255, 255, 255, 0);
    border-left: 6px solid rgba(255, 255, 255, 0);
    border-top: 6px solid rgba(255, 255, 255, 0);
    border-right: 6px solid rgba(255, 255, 255, 0);
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-35%, 0%);    /* 50%为自身尺寸的一半 */
}
.c_d_blockNumber{
    width: 100%;
    line-height: 20px;
    /* border: 1px solid red; */
    text-align: center;
    margin-top: 5px;
}
.c_d_nodeId{
    width: 100%;
    margin-top: -5px;
    /* border: 1px solid red; */
    text-align: center;
}